.topSection {
    flex-direction: column;
    background-color: darkslateblue;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.leftContainer {
    color: black;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: auto;
    margin-right: 800px;
  }
  
  .middle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: #fff;
    border: 1px solid #ccc;
  }

  button {
    background-color:cornflowerblue;
    border-color: cornflowerblue;
    color: white;
}