.topSection {
    flex-direction: column;
    background-color: darkslateblue;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.leftContainer {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 10px;
    display: flex;
  }

  .searchForm {
    flex: 1;
  }
  
  .currentDay {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    padding-left: 250px;
  }

  .fiveDay {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    padding-top: 30%;
    padding-left: 250px;
  }

  p {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
  }

  button {
    font-family: Arial, Helvetica, sans-serif;
    background-color:cornflowerblue;
    border-color: cornflowerblue;
    color: white;
}
